@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Medium 500 */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url("./Inter/Inter-Medium.ttf");
}
/* Regular 400 */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("./Inter/Inter-Regular.ttf");
}
