/* SemiBold 600 */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url("./Inter/Inter-SemiBold.ttf");
}
/* Medium 500 */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url("./Inter/Inter-Medium.ttf");
}
/* Regular 400 */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("./Inter/Inter-Regular.ttf");
}
