html {
    color: #fff;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1{
    background-color: #f00;
    text-align: center;
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    background-color: #ff7700;
    font-size: 1.25em;
    margin: 0;
}
nav a {
    color: #fff;
}
nav li {
    list-style-type: none;
    padding: 1rem;
}

main {
    background-color: #09b909;
    padding: 1rem;
}
article {
    padding: 1.3rem;
    margin-top: 1.1rem;
    background-color: #374FC7;

}

footer {
    background-color: #7048E8;
    font-size: 2rem;
    padding: 1.3rem;
    text-align: center;
}

