@import "html5reset-1.6.1.css";
@import "sanitize.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --dark-blue: #334D6E;
    --red: #F03D3E;
    --orange: #D84910;
    --gray-0: #F9FAFC;
    --gray-1: #F8F9FA;
    --gray-2: #DDE2E5;
    --gray-3: #ACB5BD;
    --gray-4: #495057;
    --gray-calendar: #90A0B7;

    --backround: var(--gray-0);
    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
    --primary-hover: #2342C0;
    --secondary-hover: #5028C6;
}
