.c-calendar {
    max-width: 304px;
    background: var(--white);
    border: 1px solid var(--gray-3);
    border-radius: 8px;
    padding: 28px 30px 32px 30px;
}

.c-calendar_preview {
    padding: 16px 16px 0;
    max-width: 202px;
    width: 100%;
}

.c-calendar_preview .c-calendar__title {
    font-size: 1rem;
}

.c-calendar_preview .c-calendar__wrapper {
    margin-top: 16px;
}

.c-calendar_preview .c-calendar__item {
    font-size: 0.6875rem;
}

.c-calendar__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--dark-blue);
    text-align: center;
}

.c-calendar__inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
    margin-top: 24px;
}

.c-calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--dark-blue);
    white-space: nowrap;
}

.c-calendar__item_day {
    font-family: 'Inter', serif;
    color: var(--gray-calendar);
    font-size: 0.875rem;
}

.c-calendar__item_period-start, .c-calendar__item_period-end {
    background: var(--blue);
    color: var(--white);
}

.c-calendar__item_period-in {
    background: rgba(160, 177, 245, 0.2);
}

@media screen and (max-width: 375px) {
    .c-calendar_preview {
        padding: 5px;
        border: 0;
        width: 90%;
        height: 90%;
    }

    .c-calendar_preview .c-calendar__title {
        font-size: .75rem;
    }

    .c-calendar_preview .c-calendar__item {
        font-size: 0.6875rem;
        line-height: 0.75rem;
        font-weight: 300;
    }

    .c-calendar_preview .c-calendar__item_day {
        font-size: 0.5625rem;
    }

    .c-calendar_preview .c-calendar__inner {
        grid-template-rows: repeat(6, 1fr);
    }

    .c-calendar_preview .c-calendar__wrapper {
        margin-top: 0;
    }
}


