.c-sidebar {
    width: 290px;
}

.c-sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-decoration: none;
    margin-top: 16px;
}

.c-sidebar__link {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--black);
    text-decoration: none;
}

.c-sidebar__link_current-link {
    color: var(--orange);
}

.c-sidebar__link:active, .c-sidebar__link:hover {
    color: var(--orange);
}

.c-sidebar__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: #000;
}

.c-sidebar_mobile .c-sidebar__title {
    color: var(--gray-3);
}

.c-sidebar_mobile .c-sidebar__list {
    gap: 16px;
}

.c-sidebar_mobile {
    margin-top: 24px;
}

.c-sidebar_mobile .c-sidebar__link {
    font-size: 1rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 375px) {
    .c-sidebar {
        display: none;
    }
    .c-sidebar_mobile {
        display: flex;
        flex-direction: column;
        text-align: start;
    }
}
