.c-content {
    display: grid;
    grid-template-areas:
            "sidebar main";
    grid-template-columns: auto 1fr;
    background: var(--backround);
}

.c-content__sidebar {
    grid-area: sidebar;
}

.c-content__main {
    grid-area: main;
}
