.c-card {
    width: 350px;
    height: 367px;
    background: var(--white);
    /* Card Shadow */
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    padding: 30px 25px;
}

.c-card__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.5625rem;
}
