.c-header {
    background: var(--white);
}
.c-header__top {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.c-header__left {
    flex: 1 0 50%;
}
.c-header__right {
    flex: 1 0 50%;
}
.c-header__menu-list {
    display: flex;
    justify-content: flex-end;
}
.c-header__menu-item {
    display: flex;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.c-header__menu-link {
    padding: 32px 12px;
    text-decoration: none;
    transition: ease-in-out color 200ms;
    color: var(--gray-3);
}
.c-header__menu-link:hover, .c-header__menu-link:active {
    color: var(--black);
}
.c-header__menu-link_active {
    color: var(--black);
}

.c-header__burger-menu-toggle {
    display: inline-flex;
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
    color: var(--black);
    transform: translate(0, -50%);
    background: var(--white);
    border: none;
}

@media screen and (max-width: 375px){
    .c-header {
        padding: 0 16px;
    }
    .c-header__top {
        text-align: center;
    }
    .c-header__right {
        display: none;
    }
}

@media screen and (min-width: 376px) {
    .c-header__burger-menu-toggle {
        display: none;
    }
}
