.c-icon {
    width: 1.5rem;
    height: 1.5rem;
}
.c-icon_checkbox-default {
    color: var(--white);
}

.c-icon_close-mobile-menu {
    background: var(--gray-2);
    border-radius: 50%;
    padding: 4px;
    width: 32px;
    height: 32px;
}
