.c-title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 4rem;
    color: var(--black);
    margin: 0;
}

@media screen and (max-width: 375px){
    .c-title {
        font-size: 1.75rem;
        line-height: 2.375rem;
        font-weight: 400;
        color: var(--gray-4);
    }
}
