.c-background-image {
    background: url("./public/forest_2560.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 480px) and (max-width: 991px) {
    .c-background-image {
        background-image: url(./public/forest_1024.jpg);
    }
}

@media screen and (min-width: 321px) and (max-width: 479px) {
    .c-background-image {
        background-image: url(./public/forest_768.jpg);
    }
}

@media screen and (max-width: 320px) {
    .c-background-image {
        background-image: url(./public/forest_400.jpg);
    }
}
